<section class="content" fxFlex fxLayout="column" fxLayoutAlign="center center">
    <div class="head" fxFlex fxLayout="row" fxLayout.xs="column" fxLayoutAlign="start center " fxLayoutAlign.xs="center start">
        <img src="../../../assets/pictos/logo-blue.png" alt="">
        <h6 class="step-blue-color">en quelques chiffres</h6>
    </div>
    <div class="content-div" fxLayout="row wrap" fxLayoutGap="grid">
        <div [fxFlex]="(100/gridColumns) + '%'" fxFlex.lt-md="100%" *ngFor="let card of cards">
            <mat-card class="{{card.bg}}" class="mat-elevation-z0">
                <mat-card-header>
                    <mat-card-title>
                        <mat-icon class="material-icons-outlined">
                            <span class="material-icons-outlined"> {{card.icon}} </span>
                        </mat-icon>
                        <h4> information </h4>
                    </mat-card-title>
                    <mat-card-title>
                        <h3>{{card.title}}</h3>
                    </mat-card-title>
                </mat-card-header>

                <mat-card-content>
                    <p>
                        {{card.content}}
                    </p>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</section>