.content {
    margin-top: 10px;
    margin-bottom: 50px;
}

.head {
    width: 100%;
}

img {
    width: 10%;
    margin-right: 10px;
}

.mat-card {
    border-radius: 15px;
    margin: 0 8px 0 8px;
    height: 250px;
}

h3,
h4,
p,
.mat-icon {
    color: #fff;
}

h3 {
    font-size: 46px;
    margin-bottom: 10px;
}

p {
    padding: 20px;
}

.mat-icon,
h4 {
    margin-top: 10px;
    font-size: 18px;
}

h6 {
    font-size: 24px;
    color: #140a82;
}

.mat-icon {
    font-size: 20px;
}

@media only screen and (max-width: 425px) {
    .mat-card {
        border-radius: 0px;
        margin: 0 0px 0 0px;
    }
    .content {
        padding: 0px;
        color: #140a82;
    }
    .head {
        margin-left: 25px;
    }
    .head>h6 {
        font-size: 24px;
        color: #140a82;
    }
    .head>img {
        width: 25%;
    }
}