<div fxFlex fxLayout="column" fxLayoutAlign="center start" fxHide.xl="true" fxHide.lt-xl="true" fxHide.xs="false" fxLayoutGap="1px">
    <div fxFlex fxLayout="column" fxLayoutAlign="center start" class="content-wrapper" fxLayoutGap="5px">

        <h2 class="step-blue-color">Des solutions <br> & métiers adaptés à <br><strong>tous vos besoins</strong></h2>
        <p class="step-blue-color">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Recusandae, molestiae!</p>

    </div>

    <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px" class="content-wrapper arrows">
        <mat-icon class="step-blue-color">west</mat-icon>
        <mat-icon class="step-blue-color">east</mat-icon>
    </div>

    <br>
    <br>

</div>