<div class="container" fxFlex fxLayout="column" fxLayoutAlign="center center">
    <!-- <div class="section-1" fxLayout="row" fxLayoutAlign="space-around center" fxLayout.xs="column" fxLayoutAlign.xs="start center">
        <div class="bg" fxLayout="row" fxLayoutAlign="end end">
            <img src="../../../assets/img/corner.png" alt="" />
        </div>

        <div class="context">
            <div fxFlex="80" fxLayout="column" fxLayoutAlign="center start" fxLayout="column" fxLayoutAlign.xs="start start" class="context-wrapper">
                <h3>
                    Des solutions & métiers adaptés à <br />
                    <strong> tous vos besoins</strong>
                </h3>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione earum fuga laboriosam voluptatum.
                </p>
                <mat-icon><span class="material-icons"> arrow_circle_down </span></mat-icon>
            </div>
        </div>
    </div> -->

    <app-mission-header [image]="image" [title]="title" [titleBold]="titleBold" [text]="text"></app-mission-header>

    <div class="section-2" fxLayout="column" fxLayoutGap="grid">


        <h2>Découvrez nos Missions</h2>
        <article fxLayout="row" fxLayout.xs="column">
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium cum explicabo voluptas incidunt. Odio dolor asperiores nostrum veniam rerum sed harum sapiente. Molestias error recusandae unde rem cum laborum aliquid praesentium. Ea animi ad earum
                itaque laboriosam rem quia ratione possimus natus deserunt! unde! <strong> quisquam </strong>. Quam, itaque ex.
            </p>
            <p>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ea animi ad earum itaque laboriosam rem quia ratione possimus natus deserunt!<strong>
          exercitationem
        </strong> Lorem, ipsum dolor sit amet consectetur adipisicing elit. Similique, quisquam? distinctio, ipsa, inventore debitis maiores corrupti cupiditate est aperiam. Aliquid, architecto.
            </p>

        </article>
        <div [fxFlex]="100 / gridColumns + '%' " fxFlex="100% " *ngFor="let card of cards " class="card-container ">
            <mat-card fxFlex fxLayout="column " fxLayoutAlign="center start " style="background-image: url( '{{card.bg}}'); object-fit:cover;background-size: 100%; background-repeat: no-repeat " class="mat-elevation-z0 ">
                <mat-card-header fxFlex fxLayout="column ">
                    <mat-card-title>
                        <h4>Mission</h4>
                    </mat-card-title>

                    <mat-card-title>
                        <h3>{{ card.title }}</h3>
                    </mat-card-title>
                </mat-card-header>

                <mat-card-content>
                    <p>
                        {{ card.content }}
                    </p>
                    <button href="https://www.step-sa.fr/ " target="_blank " class="step-green ">
            voir plus
          </button>
                </mat-card-content>
            </mat-card>
        </div>
    </div>


    <app-questions></app-questions>

    <app-partners></app-partners>
</div>