<!-- // CAROUSEL ON RESPONSIVE MOBILE -->

<section fxFlex fxLayout="column" fxLayoutAlign="center start" fxLayoutGap="1px">
    <div fxFlex fxLayout="column" fxLayoutAlign="center start" class=" title" fxLayoutGap="15px">

        <h2 class="step-blue-color">Nos Partenaires</h2>
        <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px" fxHide.xl="true" class="content-wrapper arrows">
            <mat-icon class="step-blue-color">west</mat-icon>
            <mat-icon class="step-blue-color">east</mat-icon>
        </div>

    </div>




    <div fxLayout="row nowrap" fxLayoutAlign="start center" fxLayoutGap="5px" class="partner-swiper content-wrapper">


        <ngx-slick-carousel fxFlex.gt-md="220" fxFlex.md="150" fxFlex.sm="180" fxFlex.xs="100" class="carousel" #slickModal="slick-carousel" [config]="swipperConfig" (init)="slickInit($event)" (breakpoint)="breakpoint($event)" (afterChange)="afterChange($event)"
            (beforeChange)="beforeChange($event)">

            <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="1px" fxLayoutAlign.gt-md="center center" ngxSlickItem *ngFor="let partner of partners" class="slide swipe">
                <a href="#" fxFlex fxLayoutAlign="center center">
                    <img src="{{ partner.src }}" alt="{{ partner.alt }}">
                </a>
            </div>
        </ngx-slick-carousel>
    </div>

</section>