<app-component-items-header [bgImg]="bgImg" [corner]="corner" [title]="title" [accroche]="accroche" [text]="text"></app-component-items-header>



<section class="container">
    <article *ngFor="let article of articles">
        <app-block icon="{{ article.icon }}" titre="{{ article.titre }}" accroche="{{ article.accroche }}"></app-block>
        <div class="content">
            <p class="column">{{ article.column }}</p>
            <img src="{{ article.image }}" alt="" />

            <p>
                Le concierge enregistre la demande, assure la relation client (prise de commande, rendu de la mission) et coordonne la prestation avec un partenaire de services spécialisé et qualifié. Ainsi déchargés de certaines tâches du quotidien, les collaborateurs
                peuvent se concentrer sur leur travail et mieux concilier vie de famille, loisirs et activité professionnelle.
            </p>
            <p>
                La mise en place d’une conciergerie d’entreprise peut être un levier intelligent et bienveillant de gestion des ressources humaines. Les prétextes à la mise en place d’une conciergerie peuvent être nombreux : agir dans le cadre de sa RSE, de sa politique
                de Développement Durable, d’un plan d’action égalités hommes / femmes, etc …
            </p>
            <div>
                <h3>Les services se déclinent sous trois volets : </h3>
                <ul>
                    <li><strong> perso </strong> : des services pour faciliter le quotidien de vos collaborateurs</li>
                    <li><strong> pro </strong>: des services pour votre structure : accueil, corbeilles de fruits, gestion des salles de réunion…</li>
                    <li>
                        <strong> Des animations :</strong> organisation d’événements fédératifs, créateurs de lien, sensibilisation à l’économie sociale et solidaire.
                    </li>
                </ul>
            </div>

            <p> Grâce à des prix avantageux les collaborateurs bénéficient ainsi de la relation de partenariat que la Conciergerie tisse avec ses prestataires. Ces services sont actuellement déployés par STEP sur la Technopole Hélioparc, sur les sites EDF
                Pau et EDF Anglet ainsi qu’en prestations pour l’entreprise Teréga</p>
        </div>
    </article>
    <article>

        <app-thumbnails-carousel></app-thumbnails-carousel>
    </article>
</section>

<app-questions></app-questions>
<app-partners></app-partners>