<app-component-items-header [bgImg]="bgImg" [corner]="corner" [title]="title" [accroche]="accroche" [text]="text"></app-component-items-header>



<section class="container">
    <article *ngFor="let article of articles">
        <app-block icon="{{ article.icon }}" titre="{{ article.titre }}" accroche="{{ article.accroche }}"></app-block>
        <div class="content">
            <p class="column">{{ article.column }}</p>
            <img src="{{ article.image }}" alt="" />


            <div class="box-wrapper">
                <div class="box">
                    <img src="assets/svg/blue_icons/sun_blue_icon.svg" alt="">
                    <h5>assurer</h5>
                </div>
                <div class="box">
                    <img src="assets/svg/blue_icons/print_blue_icon.svg" alt="">

                    <h5>agir</h5>
                </div>
                <div class="box">
                    <img src="assets/svg/blue_icons/arrows_blue_icon.svg" alt="">

                    <h5>bénéficier</h5>
                </div>
                <div class="box">

                    <img src="assets/svg/blue_icons/persons_blue_icon.svg" alt="">

                    <h5>accompagner</h5>
                </div>
            </div>
            <p>
                Le concierge enregistre la demande, <strong>assure la relation client</strong> (prise de commande, rendu de la mission) et <strong>coordonne la prestation</strong> avec un partenaire de services spécialisé et qualifié. Ainsi déchargés
                de certaines tâches du quotidien, les collaborateurs peuvent se concentrer sur leur travail et mieux concilier vie de famille, loisirs et activité professionnelle.
            </p>
            <p>
                La mise en place d’une conciergerie d’entreprise peut être un <strong>levier intelligent</strong> et bienveillant de gestion des ressources humaines. Les prétextes à la mise en place d’une conciergerie peuvent être nombreux : agir dans
                le cadre de sa <strong>RSE</strong> , de sa politique de <strong>développement durable</strong> , d’un plan d’action <strong>égalités hommes / femmes</strong> , etc …
            </p>
            <div>
                <h3>Les services se déclinent sous trois volets : </h3>
                <ul>
                    <li><strong> Perso </strong> : des services pour faciliter le quotidien de vos collaborateurs</li>
                    <li><strong> Pro </strong>: des services pour votre structure : accueil, corbeilles de fruits, gestion des salles de réunion…</li>
                    <li>
                        <strong> Des animations :</strong> organisation d’événements fédératifs, créateurs de lien, sensibilisation à l’économie sociale et solidaire.
                    </li>
                </ul>
            </div>

            <p> Grâce à des prix avantageux les collaborateurs bénéficient ainsi de la relation de partenariat que la Conciergerie tisse avec ses prestataires. Ces services sont actuellement déployés par STEP sur la Technopole Hélioparc et proposés à plusieurs
                entreprises de l’agglomération paloise.
            </p>
        </div>
    </article>
    <article>

        <app-thumbnails-carousel></app-thumbnails-carousel>
    </article>
</section>


<app-questions></app-questions>