<div fxLayout="row" fxLayout.lt-md="column" class="container" fxLayoutGap.gt-xs="30px">

    <div fxFlex fxShow.xs="true" fxHide.gt-sm="true" class="responsive-txt-wrapper">
        <h3 class="step-blue-color"><strong> L'écoconception </strong><br> au centre de nos démarches</h3>
    </div>

    <div fxFlex="40%" fxFlex.lt-md="100%">
        <div class="img-container">
            <img src="../../../assets/img/eco-concept.jpg" alt="">
        </div>
        <div class="box"></div>
    </div>

    <div class="wrapper" fxFlex="50%" fxFlex.gt-md="60%">
        <div fxHide.lt-md="true">
            <h3 class="step-blue-color"><strong>L'écoconception </strong>au centre de nos démarches</h3>
        </div>
        <article fxLayout="row" fxLayout.xs="column">
            <p class="step-blue-color">
                Les questions sociétales, en termes de responsabilité sociale des entreprises <strong> (RSE) </strong>et environnementales sont intégrées dans chacune de nos activités. Ainsi nous œuvrons au maximum pour limiter les impacts de nos activités
                sur l’environnement. Nous accompagnons également nos clients à repenser les usages de leurs besoins en <strong>développement numérique </strong>et à choisir la technologie la plus adaptée.
            </p>

        </article>


        <div class="consulter">
            <div fxLayout="row" fxLayoutAlign="center center" class="consulter-txt">
                <p class="step-blue-color">Consultez tous nos projets </p>
            </div>
            <button>voir plus</button>
        </div>
    </div>



</div>