<section>
    <article>

        <div class="content" [ngStyle]="{'background-color': bgColor}">

            <div class="content-wrapper">
                <h1>{{ title }}</h1>
                <h2>{{ accroche }}</h2>
                <p>{{ text }}</p>
            </div>

            <div class="corner">
                <img src="{{ corner }}" alt="{{ corner }}" />
            </div>

        </div>

        <div class="bg">
            <img src="{{ bgImg }}" alt="" />
        </div>

    </article>
</section>