/* :host {
    flex: 1;
} */

section {
    width: 100%;
    height: 500px;
}

.carousel {
    position: relative;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.slide {
    position: absolute;
    top: 0;
    right: 0;
    width: 65%;
    height: 100%;
    object-fit: cover;
    transition: transform 350ms cubic-bezier(0.25, 0.46, 0.45, 0.84);
}

.slide:hover {
    transform: scale(1.025);
}

.cornerImg {
    width: 15%;
    position: absolute;
    bottom: 0;
    right: 0;
}

.container {
    width: 35%;
    height: 100%;
    z-index: 5;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
}

.content {
    height: 90%;
    width: 70%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
}

.content h2,
p {
    margin: 0;
    color: white;
}

.content h2 {
    font-size: 3ch;
    padding-top: 0.4em;
    padding-bottom: 0.4em;
}

.content p {
    font-size: 1.5em;
    padding-top: 0.4em;
    padding-bottom: 0.4em;
}

button {
    color: white;
    font-family: 'Rubik', sans-serif;
    font-weight: 600;
    font-size: 18px;
    width: 180px;
    background: transparent;
    height: 60px;
    border: white solid 1px;
    border-radius: 10px;
    margin-bottom: 30px;
    margin-top: 20px;
}


/* CONTROLS ARROWS */

.control {
    border: none;
    background-color: transparent;
    outline: 0;
    position: absolute;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0.5em;
    color: white;
    font-weight: bold;
    font-size: 3em;
    user-select: none;
    height: 100%;
    opacity: 0.3;
    transition: opacity 150ms cubic-bezier(0.25, 0.46, 0.45, 0.84);
}

.control:hover {
    opacity: 1;
}

.control:focus {
    opacity: 1;
}

.next {
    right: -100px;
    top: 0;
}

.prev {
    left: 0;
    top: 0;
}

.arrow {
    display: block;
    border-left: 0.1em solid white;
    border-bottom: 0.1em solid white;
    width: 0.5em;
    height: 0.5em;
}

.left {
    transform: rotate(45deg);
}

.right {
    transform: rotate(225deg);
}

@media only screen and (max-width: 1024px) {
    .content h2 {
        font-size: 2.2em;
    }
    .content p {
        font-size: 1em;
    }
    .content {
        height: 100%;
        width: 70%;
        margin: auto;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: flex-start;
        padding: 4rem;
    }
}

@media only screen and (max-width: 768px) {
    section {
        height: 800px;
    }
    .responsive-slide {
        display: flex;
        justify-content: space-around;
        flex-direction: column;
    }
    .slide {
        width: 100%;
        height: 50%;
        transition: none;
    }
    .cornerImg {
        width: 20%;
        position: absolute;
        bottom: 0;
        right: 0;
    }
    .container {
        position: absolute;
        width: 100%;
        height: 50%;
        bottom: 0;
    }
    .content h2 {
        font-size: 2.2em;
    }
    .content p {
        font-size: 1em;
    }
    .content {
        height: 100%;
        width: 100%;
        margin: auto;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: flex-start;
        padding: 4rem;
    }
}

@media only screen and (max-width: 425px) {
    section {
        height: 700px;
    }
    .slide {
        width: 100%;
        height: 50%;
        transition: none;
    }
    .cornerImg {
        width: 20%;
        position: absolute;
        bottom: 0;
        right: 0;
        z-index: 99;
    }
    .container {
        position: absolute;
        width: 100%;
        height: 50%;
        z-index: 0;
        /* margin-top: 50%; */
        bottom: 0;
        right: 0;
    }
    .content h2 {
        font-size: 2.2em;
    }
    .content p {
        font-size: 1em;
    }
    .content {
        width: 75%;
    }
    .control {
        height: 95%;
        opacity: 0.6;
        transition: opacity 150ms cubic-bezier(0.25, 0.46, 0.45, 0.84);
    }
}