<section>

    <div class="carousel">
        <ng-container *ngFor="let slide of slides; let i = index" class="slider responsive-slide">


            <img *ngIf="i === currentSlide" [src]="slide.image" class="slide" alt="slide.image" @carouselAnimations/>

            <img *ngIf="i === currentSlide" [src]="slide.cornerImg" class="cornerImg" alt="corner_image" @carouselAnimations>

            <div *ngIf="i === currentSlide" class="container" [style.background-color]="slide.bg">
                <div class="content" @carouselAnimations>
                    <h2>{{slide.title}}</h2>
                    <p>{{slide.text}}</p>
                    <button href="https://www.step-sa.fr/" target="_blank">voir plus</button>
                </div>
            </div>
        </ng-container>


        <!-- controls -->
        <button class="control prev" (click)="onPreviousClick()">
            <span class="arrow left"></span>
          </button>
        <button class="control next" (click)="onNextClick()">
            <span class="arrow right"></span>
          </button>
    </div>
</section>