<section>
    <article>
        <div class="feedback-slides">
            <div class="client-feedback">
                <ngx-slick-carousel class="carousel feedback" #slickModal="slick-carousel" [config]="imagesSlider">
                    <div ngxSlickItem *ngFor="let img of firebaseServ.images let i = index;" class="slide">
                        <img [src]="img" alt="" width="100%">
                    </div>
                </ngx-slick-carousel>
            </div>
        </div>

        <div class="client-thumbnails">
            <ngx-slick-carousel class="carousel thumbs" #slickModal="slick-carousel" [config]="thumbnailsSlider ">
                <div ngxSlickItem *ngFor="let img of firebaseServ.images let i = index;" class="slide">
                    <img [src]="img" alt="" width="100%">
                </div>
            </ngx-slick-carousel>
        </div>
    </article>
</section>