<section>


    <article fxFlex fxLayout="column" fxLayoutAlign="center start" fxLayoutGap.xs="5px" fxHide.gt-md="true" class="content-wrapper">

        <h2 class="step-blue-color">Nos métiers</h2>
        <ul class="metiers-list-lg">
            <li *ngFor="let metier of metiers">
                <a href="{{metier.link}}">{{metier.title}}</a>
            </li>
        </ul>

    </article>



    <article class="metiers-list-xs">
        <p class="step-blue-color">Swipez de gauche à droite</p>

        <div class="arrows">
            <mat-icon class="step-blue-color nav">west</mat-icon>
            <mat-icon class="step-blue-color nav">east</mat-icon>
        </div>


        <ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="slideConfig" (init)="slickInit($event)" (breakpoint)="breakpoint($event)" (afterChange)="afterChange($event)" (beforeChange)="beforeChange($event)">
            <div ngxSlickItem class="slide swipe" *ngFor="let metier of metiers let i = index;">

                <a href="{{metier.link}}">{{metier.title}}</a>

            </div>
        </ngx-slick-carousel>
    </article>

</section>