<div class="header">
    <div class="header-container">
        <h1>Mentions Légales</h1>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ea, aliquid assumenda tempore aperiam eos possimus?</p>
    </div>
</div>
<div class="texts">
    <div>
        <h2>I. Présentation du site</h2>
        <p>En vertu de l'article 6 de la loi n° 2004-575 du 21 juin 2004 pour la confiance dans l'économie numérique, il est précisé aux utilisateurs du site <a href="http://www.step.eco">www.step.eco</a> l'identité des différents intervenants dans le cadre
            de sa réalisation et de son suivi :
        </p>
        <ul>
            <li><strong>Propriétaire: </strong>STEP SA</li>
            <li><strong>Conception & Réalisation: </strong></li>
            <li><strong>Crédits photos: </strong>©Hervé Audrain</li>
            <li><strong>Responsable publication: </strong></li>
            <li><strong>Webmaster: </strong></li>
            <li><strong>Hébergeur: </strong>OVH</li>
        </ul>
    </div>
    <div>
        <h2>II. Conditions générales d’utilisation du site et des services proposés</h2>
    </div>
    <div>
        <h2>III. Description des services fournis</h2>
    </div>



    <div>
        <h2>IV. Limitations contractuelles sur les données techniques</h2>
    </div>
    <div>
        <h2>V. Propriété intellectuelle et contrefaçons</h2>
    </div>
    <div>
        <h2>VI. Limitations de responsabilité</h2>
    </div>
    <div>
        <h2>VII. Gestion des données personnelles</h2>
    </div>
    <div>
        <h2>VIII. Liens hypertextes et cookies</h2>
    </div>
    <div>
        <h2>IX. Droit applicable et attribution de juridiction</h2>
    </div>
    <div>
        <h2>X. Les principales lois concernées</h2>
    </div>
    <div>
        <h2>XI. Lexique</h2>
    </div>
</div>