<section>

    <article class=" bg " style=" background-image: url( '{{item.bg}}'); background-repeat: no-repeat; background-size: cover; background-position:center;" *ngFor="let item of this.metierDetailsHeaderServ.metierDetailsHeaders">

        <div class="picto-mobile">
            <img src="{{item.picto_mobile}} " alt=" ">
        </div>

        <div class="context">
            <div class="context-wrapper ">

                <div class="picto ">
                    <img src="{{item.picto}} " alt=" ">
                </div>

                <div class="txt ">
                    <h3>{{item.title}} </h3>
                    <h5>{{item.text}}</h5>
                </div>

            </div>
        </div>
    </article>
</section>