<section>
    <app-mission-header [image]="image" [title]="title" [accroche]="accroche" [text]="text" [bg]="bg"></app-mission-header>

    <article>
        <div class="text">
            <p class="step-blue-color">
                Implantée à Pau (Sud-Ouest), en Nouvelle-Aquitaine (France), <strong>STEP</strong> est une entreprise citoyenne et responsable qui mise sur l’humain et sa diversité. Expert du traitement des flux documentaires et de l’environnement informatique
                associé, <strong>STEP</strong> s’est imposé, en une vingtaine d'années dans le domaine des <strong>services numériques</strong> et accompagne aujourd’hui de grands comptes et de nombreuses PMEI. Elle démontre que la compétitivité et le
                développement de
                <strong>services innovants</strong> à destination des professionnels (ingénierie informatique, gestion des flux documentaires…) riment avec insertion sociale et que la fracture numérique n’est pas une fatalité. </p>

            <p> Entreprise engagée en Nouvelle-Aquitaine, elle a su diversifier son offre au fil du temps et propose un modèle vertueux sur l’ensemble de ses <strong>pôles d’activité</strong> via des solutions globales tout en ayant à cœur de promouvoir la
                responsabilité vis à vis du territoire, de la collectivité, ou des personnes aux parcours fragilisés qu’elle rencontre et soutient, sans crainte d’associer compétitivité et offre de services. <strong>STEP</strong> , c’est plusieurs métiers
                dédiés, de la gestion des flux documentaires à la formation au numérique, en passant par les <strong>services de territoire</strong>, le tout associé à des expertises pointues.</p>


        </div>
    </article>
    <article *ngFor="let card of cards" class="card-container">
        <div class="card" style="background-image: url('{{card.bg}}');  object-fit:cover; background-size: 100%; background-repeat: no-repeat;">
            <div class="card-linear">
                <div class="card-info">
                    <h3>{{ card.title }}</h3>
                    <p>{{ card.content }}</p>
                    <button [routerLink]="card.lien" class="step-green">Voir plus</button>
                </div>
            </div>
        </div>
    </article>
</section>

<app-questions></app-questions>