<div fxFlexFill fxLayout="row" fxLayout.xs="column" fxLayoutAlign="space-between center" fxLayoutAlign.xs="startcenter">
    <div class="metier-left" fxFlex="70" fxHide.xs="true" fxLayout="column" fxLayoutAlign="space-between start" fxLayoutGap="62px">
        <div>
            <h2 class="step-blue-color">Des solutions <br> & métiers adaptés à <br><strong>tous vos besoins</strong></h2>
            <p class="step-blue-color">STEP vous accompagne en vous proposant des solutions globales dans plusieurs grands secteurs d’activités. Les flux documentaires et le back office, les services de territoire et l’ingénierie informatique :</p>
        </div>
        <div fxFlexFill>
            <mat-grid-list cols="2" cols.sm="1" fxLayout="row" fxLayoutAlign="center center" rowHeight="9:1" gutterSize="10px">
                <mat-grid-tile *ngFor="let metier of metiers">
                    <div class="metier-txt" fxFlex>
                        <mat-icon class="step-blue-color">chevron_right</mat-icon>
                        <h4 class="step-blue-color"> {{metier.title}}</h4>
                    </div>
                </mat-grid-tile>
            </mat-grid-list>
        </div>
    </div>



    <app-metier-swiper style="margin-left: 30px;" class="slider-txt"></app-metier-swiper>

    <div fxLayout="row" fxLayoutAlign="center center" class="container slider-img">
        <ngx-slick-carousel fxFlex.xs="100%" class="carousel" #slickModal="slick-carousel" [config]="slideConfig" (init)="slickInit($event)" (breakpoint)="breakpoint($event)" (afterChange)="afterChange($event)" (beforeChange)="beforeChange($event)">
            <div ngxSlickItem *ngFor="let slide of slides" class="slide">
                <img src="{{ slide.img }} " alt=" " width="100% " />
                <div fxLayout="row" fxLayoutAlign="center end" class="block">
                    <div fxLayout="column" fxLayoutAlign="center space-evenly" fxLayoutGap="5px" class="content">
                        <h5>Métier</h5>
                        <h3>{{ slide.title }}</h3>
                        <h5>{{ slide.text }}</h5>

                        <button href="https://www.step-sa.fr/" target="_blank" class="step-cyan">voir plus</button>
                    </div>
                </div>
            </div>
        </ngx-slick-carousel>
        <div class="bg-carousel"></div>
    </div>
</div>