section {
    width: 80%;
    margin: auto;
    margin-bottom: 2rem;
}

article {
    width: 100%;
    margin-top: 2rem;
}

h1,
h2,
h3,
span,
p {
    color: #140a82;
}

h1 {
    font-size: 2.2rem;
}

span {
    font-size: 1rem;
    font-weight: 800;
}

.valeurs {
    width: 100%;
}

p {
    line-height: 1.5rem;
    margin: 0;
    padding: 5px;
    white-space: pre-wrap;
    text-align: justify;
}

.intro {
    column-count: 2;
    column-gap: 4rem;
}

app-partners {
    width: 100%;
}

app-questions {
    width: 100%;
}

@media screen and (max-width: 768px) {
    .intro {
        display: flex;
        flex-direction: column;
        column-count: 0;
        column-gap: 0;
    }
    .intro p {
        line-height: 2rem;
        text-indent: 20px;
    }
}