<div class="container" fxLayout="row" fxLayoutAlign="space-around center" fxLayout.xs="column" fxLayoutAlign.xs="start center">
    <div class="bg" fxLayout="row" fxLayoutAlign="end end" style="  background-image: url('{{bg}}');
    background-repeat: no-repeat;
    background-size: cover;">
        <img src="{{image}}" alt="" />
    </div>

    <div class="context">
        <div fxFlex="80" fxLayout="column" fxLayoutAlign="center start" fxLayout="column" fxLayoutAlign.xs="start start" class="context-wrapper">
            <h3>
                {{title}} <br />
                <strong>  {{titleBold}}</strong>
            </h3>
            <p>
                {{text}}
            </p>

        </div>
    </div>
</div>