<section class="container" fxFlex fxLayout="row" fxLayoutAlign="space-between center" fxLayout.lt-md="column" fxLayoutAlign.xs="center center">

    <div fxFlex="60" class="context" fxFlexOrder.lt-md='2'>
        <div fxFlex fxLayout="row" fxLayoutAlign="center space-around" fxLayoutAlign.xs="start start">
            <div fxFlex="70" fxLayout="column" fxLayoutAlign="center start" fxLayout="column" fxLayoutAlign.xs="start start" class="context-wrapper">
                <h3>
                    {{ title }} <br />
                    <strong>{{ titleBold }}</strong>
                </h3>
                <p>
                    {{ text }}
                </p>
            </div>

            <div fxFlex fxLayout="column" fxLayoutAlign="end end" class="corner">
                <img src="{{ image }}" alt="" />
            </div>
        </div>
    </div>

    <div class="bg" fxFlex fxLayout="column" fxLayoutAlign="end end" fxFlexOrder.lt-md='1'>
        <img fxFlex src="../../../assets/img/flux_doc.jpg" alt="" />

    </div>
</section>