section {
    margin-top: 25px;
    margin-bottom: 25px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 20%;
}

.rectangle {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-radius: 18px;
    width: 97%;
    height: 100%;
}

img {
    width: 35%;
}

a {
    padding: 0 10% 0 1%;
    color: white;
    text-align: left;
    font-size: 2rem;
    font-weight: 700;
    word-wrap: break-word;
    text-decoration: none;
}

@media screen and (max-width: 1024px) {
    .rectangle {
        border-radius: 0px;
        width: 100%;
    }
    h3 {
        width: 50%;
        word-wrap: normal;
        text-align: left;
    }
}

@media screen and (max-width: 768px) {
    section {
        width: 100%;
        margin-top: 0px;
        flex-direction: column-reverse;
    }
    .rectangle {
        border-radius: 0px;
        width: 100%;
    }
    h3 {
        width: 50%;
        word-wrap: normal;
        font-size: 1.5rem;
        text-align: left;
    }
}

@media screen and (max-width: 425px) {
    h3 {
        font-size: 1.7rem;
    }
}