.artOne,
.artTwo {
    width: 100%;
    margin: auto;
    background-color: #f9f9fd4d;
    height: 100vh;
}

.contact-info {
    margin-left: 80px;
    margin-right: 80px;
}

.txt {
    margin-top: 25px;
    margin-bottom: 25px;
}

::ng-deep .mat-select-arrow {
    margin-right: 15px !important;
    border-left: 15px solid transparent !important;
    border-right: none !important;
    border-top: 15px solid transparent !important;
    border-image-source: url('../../../assets/pictos/arrow_forward_ios_black_24dp.svg') !important;
    transform: rotate(90deg);
    border-image-repeat: stretch !important;
    filter: invert(21%) sepia(20%) saturate(7019%) hue-rotate(233deg) brightness(74%) contrast(133%);
    /* border-image-repeat: round !important; */
}

.fields {
    margin-top: 0px;
}

h2,
p {
    color: #140a82;
    line-height: 16px;
}

h2 {
    font-size: 26px;
    font-weight: 500;
}

p {
    font-size: 14px;
}

mat-option,
mat-select {
    color: #140a82 !important;
}

mat-form-field {
    border-radius: 7px;
    width: 100% !important;
    color: #140a82;
    opacity: 1;
}

mat-label {
    margin-top: 1px !important;
    color: #140a82 !important;
}

button {
    color: white;
    font-family: 'Rubik', sans-serif;
    font-weight: 600;
    font-size: 18px;
    width: 180px;
    background: transparent;
    height: 60px;
    background-color: #140a82;
    border-radius: 10px;
}

.mat-icon {
    vertical-align: middle;
    padding-left: 5px;
    padding-right: 5px;
}

.photo img {
    width: 100%;
    height: 100vh;
    object-fit: cover;
}


/* ARTICLE TWO */

.artTwo {
    background-color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.aside-left {
    width: 45%;
    border-bottom-left-radius: 18px;
    border-bottom-right-radius: 18px;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.207);
}

.bg {
    width: 100%;
    height: 200px;
    border-top-left-radius: 18px;
    border-top-right-radius: 18px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bg img {
    width: 35%;
}

.address {
    margin: auto;
    width: 85%;
}

.address-wrapper {
    margin-top: 50px;
}

.coord-container {
    margin-bottom: 50px;
    margin-top: 50px;
}

.coord {
    height: 50px;
    width: 100%;
    border-radius: 10px;
    background-color: #F9F9FD;
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.coord-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.icon {
    margin-left: 10px;
}

.coord-wrapper h5 {
    margin-left: 15px;
}

.horaires {
    text-decoration: underline;
    margin-bottom: 50px;
}

.map {
    width: 100%;
    height: 500px;
    background-image: url('../../../assets/img/office.jpg');
    background-position: center;
    background-size: cover;
    margin-top: 20px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    border-bottom-right-radius: 8px;
    border-top-right-radius: 8px;
}

.map button {
    width: 30%;
    margin-right: 50px;
    border: 0px solid transparent;
}

button span {
    color: white;
}

h4,
h5,
span,
p {
    color: #140a82;
    line-height: 15px;
}

h5 {
    font-weight: 400;
}

app-partners {
    margin-bottom: 50px;
}

@media only screen and (max-width: 1440px) {
    .map button {
        width: 40%;
        margin-right: 10px;
        font-size: 14px;
    }
}

@media only screen and (max-width: 1024px) {
    .contact-info {
        width: 80%;
    }
    .txt {
        margin-top: 40px;
        margin-bottom: 20px;
    }
    .fields {
        margin-top: 0px;
        width: 100%;
    }
    .mat-form-field {
        border-radius: 7px;
        width: 100% !important;
        line-height: 1;
        color: #140a82;
    }
    .mat-label {
        margin-top: 5px !important;
        color: #140a82 !important;
    }
    .btn-container {
        margin-bottom: 20px;
    }
    button {
        color: white;
        font-family: 'Rubik', sans-serif;
        font-weight: 600;
        font-size: 18px;
        width: 100%;
        background: transparent;
        height: 60px;
        background-color: #140a82;
        border-radius: 10px;
    }
    .photo img {
        float: left;
        width: 100%;
        height: 100vh;
        object-fit: cover;
    }
    /* ARTICLE TWO */
    .artTwo {
        width: 80%;
        background-color: white;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-top: 50px;
    }
    .bg {
        width: 100%;
        height: 150px;
        border-top-left-radius: 18px;
        border-top-right-radius: 18px;
        margin: auto;
    }
    .bg img {
        width: 30%;
    }
    .aside-left {
        width: 50%;
        border-bottom-left-radius: 18px;
        border-bottom-right-radius: 18px;
        box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.207);
    }
    .address {
        margin: auto;
        width: 85%;
    }
    .address-wrapper {
        margin-top: 20px;
    }
    .coord-container {
        margin-bottom: 20px;
        margin-top: 20px;
    }
    .coord {
        height: 50px;
        width: 100%;
        border-radius: 10px;
        background-color: #F9F9FD;
        margin-top: 10px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }
    .coord-wrapper {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
    }
    .icon {
        margin-left: 10px;
    }
    .coord-wrapper h5 {
        margin-left: 15px;
    }
    .horaires {
        text-decoration: underline;
        margin-bottom: 20px;
    }
    .map {
        height: 400px;
        margin-top: 20px;
        border-top-right-radius: 8px;
        border-bottom-right-radius: 8px;
    }
    .map button {
        width: 40%;
        margin-right: 10px;
        font-size: 14px;
    }
    button span {
        color: white;
    }
}

@media only screen and (max-width: 768px) {
    .contact-info {
        width: 80%;
    }
    .txt {
        margin-top: 1%;
        margin-bottom: 1%;
    }
    .fields {
        width: 100%;
    }
    .mat-form-field {
        border-radius: 7px;
        width: 100% !important;
        line-height: 1;
        color: #140a82;
    }
    .mat-label {
        margin-top: 5px !important;
        color: #140a82 !important;
    }
    button {
        color: white;
        font-family: 'Rubik', sans-serif;
        font-weight: 600;
        font-size: 18px;
        width: 100%;
        background: transparent;
        height: 60px;
        background-color: #140a82;
        border-radius: 10px;
    }
    .photo {
        width: 100%;
        height: 400px;
        margin: auto;
    }
    .photo img {
        object-fit: cover;
        width: 100%;
        height: 100%;
    }
    /* ARTICLE TWO */
    .artTwo {
        width: 100%;
        height: 100%;
        margin: 0;
        margin-bottom: 5%;
    }
    .bg {
        width: 100%;
        height: 200px;
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }
    .bg img {
        width: 50%;
    }
    .aside-left {
        width: 100%;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.207);
    }
    .address {
        margin: auto;
        width: 85%;
    }
    .address-wrapper {
        margin-top: 20px;
    }
    .coord-container {
        margin-bottom: 20px;
        margin-top: 20px;
    }
    .coord {
        height: 50px;
        width: 100%;
        border-radius: 10px;
        background-color: #F9F9FD;
        margin-top: 10px;
    }
    .horaires {
        text-decoration: underline;
        margin-bottom: 50px;
    }
    .map {
        width: 100%;
        height: 500px;
        margin-top: 0px;
        display: flex;
        align-items: flex-end;
        justify-content: center;
        padding-bottom: 2%;
        border-radius: 0px;
    }
    .map button {
        width: 80%;
        margin-right: 0;
    }
    button span {
        color: white;
    }
}

@media only screen and (max-width: 425px) {
    .contact-info {
        width: 80%;
    }
    .mat-form-field {
        border-radius: 7px;
        width: 100% !important;
        line-height: 1;
        color: #140a82;
    }
    .mat-label {
        margin-top: 5px !important;
        color: #140a82 !important;
    }
    /* ARTICLE TWO */
    .artTwo {
        width: 100%;
        background-color: white;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-top: 0;
    }
    .bg {
        width: 100%;
        height: 200px;
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 0px;
    }
    .aside-left {
        border-radius: 0px;
        box-shadow: none;
    }
    .address {
        margin: auto;
        width: 85%;
    }
    .coord-container {
        margin-bottom: 10px;
        margin-top: 10px;
    }
    .coord-wrapper {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
    }
    .map {
        margin-top: 20px;
        border-radius: 0px;
    }
}