<section fxLayoutAlign.lt-md="center center" class="artOne">



    <article class="contact-info">

        <div class="txt">
            <h2>Contactez-nous</h2>
            <p>Vous avez une question? N'hisetz pas. Nous pouvons vous aider !</p>
        </div>



        <form (ngSubmit)="onSubmit(contactForm)" #contactForm="ngForm" novalidate>



            <div class="fields">
                <mat-form-field appearance="outline">
                    <mat-label>Selectionner une option</mat-label>
                    <mat-select disableRipple ngModel required name="objet" #objet="ngModel" [ngModelOptions]="{standalone: false}">
                        <mat-option *ngFor="let subject of subjects" [value]="subject">{{subject}}</mat-option>
                    </mat-select>

                </mat-form-field>
            </div>

            <div class="fields name">

                <div class="fields">
                    <mat-label>Nom</mat-label>
                    <mat-form-field appearance="outline">
                        <input matInput placeholder="votre nom" name="name" ngModel required #name="ngModel">
                    </mat-form-field>
                </div>

                <div class="fields">
                    <mat-label>Prénom</mat-label>
                    <mat-form-field appearance="outline">
                        <input matInput placeholder="votre prénom" name="lastName" ngModel required #lastName="ngModel">
                    </mat-form-field>
                </div>
            </div>



            <!-- <input type="text" placeholder="Adresse Mail" email name="email" ngModel required #email="ngModel"> -->

            <div class="fields com">

                <div class="fields">
                    <mat-label>Adresse mail</mat-label>
                    <mat-form-field appearance="outline">
                        <input matInput placeholder="votre adresse mail" email name="email" ngModel required #email="ngModel">
                    </mat-form-field>
                </div>

                <div class="fields">
                    <mat-label>Téléphone</mat-label>
                    <mat-form-field appearance="outline">
                        <input matInput placeholder="votre no. de téléphone" name="telephone" ngModel #telephone="ngModel">
                    </mat-form-field>
                </div>
            </div>

            <!-- <input type="text" placeholder="entreprise" name="entreprise" ngModel required #entreprise="ngModel"> -->

            <div class="fields">

                <div class="fields">
                    <mat-label>Entreprise</mat-label>
                    <mat-form-field appearance="outline">
                        <input matInput placeholder="votre entreprise" name="entreprise" ngModel #entreprise="ngModel">
                    </mat-form-field>
                </div>
            </div>

            <div class="fields">
                <mat-label>Laissez-nous un message</mat-label>
                <mat-form-field appearance="outline">
                    <textarea cdkTextareaAutosize name="messages" ngModel required #messages="ngModel" #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="5" cdkAutosizeMaxRows="8" matInput placeholder="Bonjour ... "></textarea>
                </mat-form-field>
            </div>

            <input type="hidden" name="subject" value="Votre message a été bien envoyé">

            <div class="btn-container">
                <button type="submit" value="Envoyer">
                    <mat-icon><span class="material-icons">message</span></mat-icon>
                    Envoyer
                </button>
            </div>
        </form>


    </article>

    <!-- <article class="photo" [ngStyle]="{'background': 'url(' + contactImg + ') no-repeat 0px 0px / cover'}">    -->
    <article class="photo">
        <img [src]="contactImg" alt="">

    </article>



</section>






<section class="artTwo">

    <article fxLayout="column" fxLayoutAlign="space-around start" fxLayout.xs="column" fxLayoutAlign.xs="center start " class="aside-left">
        <div class="bg step-green">
            <img src="../../../assets/pictos/step_logo_blanc.png" alt="step">
        </div>

        <div class="address address-wrapper">
            <h4>Technopole Hélioparc</h4>
            <h5>2 avenue du président Pierre Angot</h5>
            <h5>64053 Pau CEDEX</h5>
        </div>

        <div class="address coord-container" fxFlex="100" fxLayout="column" fxLayoutAlign="center center">

            <div class="coord">

                <div class="coord-wrapper">
                    <mat-icon><span class="material-icons icon">smartphone</span></mat-icon>
                    <h5>05 59 14 78 79</h5>
                </div>

                <mat-icon><span class="material-icons arrow">chevron_right</span></mat-icon>
            </div>




            <div class="coord">

                <div class="coord-wrapper">
                    <mat-icon><span class="material-icons icon">email</span></mat-icon>
                    <h5>contact@step.eco</h5>
                </div>

                <mat-icon><span class="material-icons arrow">chevron_right</span></mat-icon>
            </div>

        </div>

        <h5 class="address horaires">Du lundi à vendredi de 09h00 à 18h00</h5>


    </article>

    <article class="map">
        <button href="https://www.step-sa.fr/" target="_blank">
                <mat-icon><span class="material-icons">
                    location_on
                    </span></mat-icon>
                Voir sur Google Maps
            </button>
    </article>

</section>