<section fxLayoutAlign.lt-md="center center" class="artOne">



    <article class="contact-info">

        <div class="txt">
            <h2>Contactez-nous</h2>
            <p>Avez-vous une question? N'hésitez pas. Nous pouvons vous aider !</p>
        </div>



        <form [formGroup]="form" method="post" (ngSubmit)="onSubmit()">

            <ngx-invisible-recaptcha #captchaElem [siteKey]="siteKey" [useGlobalDomain]="false" ngModel [ngModelOptions]="{ standalone: true }">
            </ngx-invisible-recaptcha>

            <div class="fields">
                <mat-form-field appearance="outline">
                    <mat-label role="contentinfo">Sujet de votre demande</mat-label>
                    <mat-select disableRipple ngModel required name="objet" #objet="ngModel" [ngModelOptions]="{standalone: false}">
                        <mat-option *ngFor="let subject of subjects" [value]="subject">{{subject}}</mat-option>
                    </mat-select>

                </mat-form-field>
            </div>

            <div class="fields name">

                <div class="fields">
                    <mat-label>Nom *</mat-label>
                    <mat-form-field appearance="outline">
                        <input role="cell" matInput placeholder="Votre nom" [formControl]="name" ngModel required>
                    </mat-form-field>
                </div>

                <div class="fields">
                    <mat-label>Prénom *</mat-label>
                    <mat-form-field appearance="outline">
                        <input role="cell" matInput placeholder="Votre prénom" [formControl]="lastName" ngModel required>
                    </mat-form-field>
                </div>
            </div>



            <!-- <input type="text" placeholder="Adresse Mail" email name="email" ngModel required #email="ngModel"> -->

            <div class="fields com">

                <div class="fields">
                    <mat-label>Adresse mail *</mat-label>
                    <mat-form-field appearance="outline">
                        <input role="cell" matInput type="email" placeholder="Votre adresse mail" email [formControl]="email" ngModel required>
                    </mat-form-field>
                </div>

                <div class="fields">
                    <mat-label>Téléphone</mat-label>
                    <mat-form-field appearance="outline">
                        <input role="cell" matInput type="number" placeholder="Votre numéro de téléphone" [formControl]="telephone" ngModel>
                    </mat-form-field>
                </div>
            </div>

            <!-- <input type="text" placeholder="entreprise" name="entreprise" ngModel required #entreprise="ngModel"> -->

            <div class="fields">

                <div class="fields">
                    <mat-label>Entreprise</mat-label>
                    <mat-form-field appearance="outline">
                        <input role="cell" matInput placeholder="Votre entreprise" [formControl]="entreprise" ngModel>
                    </mat-form-field>
                </div>
            </div>

            <div class="fields">
                <mat-label>Laissez-nous un message *</mat-label>
                <mat-form-field appearance="outline">
                    <textarea role="cell" cdkTextareaAutosize [formControl]="message" ngModel required #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="5" cdkAutosizeMaxRows="8" matInput placeholder="Bonjour ... "></textarea>
                </mat-form-field>
            </div>

            <input type="hidden" name="subject" value="Votre message a été bien envoyé">

            <div class="btn-container">

                <button role="button" [disabled]="isLoading" type="submit" value="Envoyer">
                    <img class="chat" src="/assets/svg/white_icons/chat_white.svg" alt="">
                    Envoyer
                </button>
                <p>
                    Vos données seront bien traitées et vous ne recevrez aucune communication automatique sans votre accord préalable
                </p>
            </div>
        </form>


    </article>

    <!-- <article class="photo" [ngStyle]="{'background': 'url(' + contactImg + ') no-repeat 0px 0px / cover'}">    -->
    <article role="img" class="photo">
        <img role="img" [src]="contactImg" alt="">

    </article>



</section>






<section class="artTwo">

    <article class="aside-left">
        <div class="bg step-green">
            <img src="/assets/pictos/step_logo_white.svg" alt="step">
        </div>

        <div role="contentinfo" class="address address-wrapper">
            <h4>Technopole Hélioparc</h4>
            <h5>2 avenue du président Pierre Angot</h5>
            <h5>64053 Pau CEDEX</h5>
        </div>

        <div class="address coord-container">

            <div class="coord">

                <div class="coord-wrapper">
                    <mat-icon><span class="material-icons icon">smartphone</span></mat-icon>
                    <h5>05 59 14 78 79</h5>
                </div>

                <mat-icon><span class="material-icons arrow">chevron_right</span></mat-icon>
            </div>




            <div class="coord">

                <div class="coord-wrapper">
                    <mat-icon><span class="material-icons icon">email</span></mat-icon>
                    <h5>contact@step.eco</h5>
                </div>

                <mat-icon><span class="material-icons arrow">chevron_right</span></mat-icon>
            </div>

        </div>

        <h5 class="address horaires">Du lundi à vendredi de 09h00 à 18h00</h5>


    </article>

    <article class="map">
        <a class="button" href="{{this.map}}" target="_blank">
            <mat-icon><span class="material-icons">
                    location_on
                    </span></mat-icon>
            Voir sur Google Maps
        </a>
    </article>

</section>