<app-eco-header [title]="title" [titleBold]="titleBold" [text]="text"></app-eco-header>
<section>
    <p class="cols">
        {{header.p}}
    </p>

    <img src="../../" alt="">

    <h2>Repenser les impacts et les usages</h2>

    <p>En France, l’impact de nos usages numériques représentait, en 2019, 15 millions de tonnes équivalent CO2, soit 2% du total des émissions produites cette même année. Les prévisions annoncent une augmentation de plus de 60% à l’horizon 2040 si nous
        ne changeons pas nos pratiques <strong>*</strong> . <br> <br>Chez STEP, nous sommes engagés dans une démarche vertueuse visant à réduire nos impacts et ceux de nos clients. Nous avons le choix, et vous aussi !</p>

    <div class="citation">

        <blockquote>
            &ldquo;Choisir la bonne technologie c’est déjà une solution pour diminuer nos impacts numériques&rdquo;
        </blockquote>
    </div>

    <p>40% des 800 000 sites Web créés chaque jour le sont avec WordPress. Chacun doit être hébergé sur un serveur dont les ressources sont allouées en permanence. Car c’est ainsi que fonctionne Wordpress, pas de repos pour les braves ! Des alternatives
        existent développées par les leaders du Cloud : des solutions moins consommatrices de ressources des usages, des technologies moins chronophages d’informations envoyées dans les réseaux… nous les connaissons, les appliquons et vous les proposons.
    </p>
    <p>Penser un outil numérique, ce doit d’abord être penser les usages. Savez-vous que 5 fonctions remplissent un tiers des usages sur Microsoft Word ? Ainsi en réduisant les listes du moteur de recherche Bing, par exemple, de 20 à 10 éléments, vous diminuez
        déjà de 80% l’impact énergétique de ce moteur de recherche.</p>
    <p>Nous pouvons intégrer cette sobriété d’usage, dès les premières étapes de conception et tout au long du processus de création. UX, Agilité, MVP, ces mots du numérique contemporain cachent cette dimension fluide au plus près des usagers. Nous nous
        efforçons également de rechercher des alternatives que nous pourrions développer en interne.</p>

    <div class="block">
        <h3>Une seconde vie pour les matériels informatiques</h3>
        <p>65%, c’est la part représentée par les matériels dans les impacts écologiques du numérique. Recycler, reconditionner pour augmenter de plusieurs années la durée de vie d’un ordinateur ou d’un smartphone, c’est diviser par autant d’années leurs
            impacts écologiques. Pourquoi ne pas le faire ?</p>
    </div>

    <p class="cols">Évoluant dans l’univers informatique, c’est tout naturellement que nous avons pris le problème à bras le corps. Nous avons créé un atelier de reconditionnement responsable pour redonner un second souffle aux matériels des entreprises et des particuliers.
        Nettoyés et reconditionnés, ils sont remis sur le marché ou distribués auprès de centres sociaux ou d’association.</p>

    <img src="" alt="">

    <h2>Agir sur notre territoire</h2>
    <p>Entreprise engagée du Sud-Ouest, nous agissons au plus près :</p>
    <ul>
        <li>en accompagnant les entreprises locales, en offrant des ordinateurs à ceux qui en ont besoin,</li>
        <li>en proposant des assistances suspendues sur le principe du « café suspendu » : particulier ou entreprise peuvent offrir des assistances informatiques à des personnes ou des structures qui ont en besoin,</li>
        <li>en développant des formations dans les zones rurales et en menant des projets pour offrir des solutions de reconversion ou de formation aux personnes éloignées des villes.</li>
    </ul>

    <p>
        * D’après l'étude de l'évaluation des politiques publiques menées pour réduire l'empreinte carbone du numérique (juin 2020), pour la commission de l'aménagement du territoire et du développement durable du Sénat.
    </p>

</section>