<app-component-items-header [bgImg]="bgImg" [corner]="corner" [title]="title" [accroche]="accroche" [text]="text" [bgColor]="bgColor"></app-component-items-header>

<section>
    <h1>Raison d'être</h1>
    <article>
        <div class="intro-txt">
            <p>{{ intro.p1 }}</p>
        </div>
        <div class="photos">
            <img src="{{img.gouvImg}}" title="{{img.title}}" alt="{{img.alt}}" />
        </div>


    </article>
</section>


<section>
    <article *ngFor="let item of content">
        <h2>{{ item.headTitle }}</h2>
        <p>{{ item.bodyText }}</p>

    </article>

    <div class="photos">
        <img src="{{img.gouvImg_2}}" title="{{img.title}}" alt="{{img.alt}}" />
    </div>


</section>


<app-questions></app-questions>