<app-metier-details-header></app-metier-details-header>


<section class="container">
    <article *ngFor="let article of articles">


        <div class="content">
            <p class="column">Toutes vos applications ne pourront être développées par nos soins. Nous sommes concentrés sur des solutions qui permettent une diffusion large sur les stores de <strong> Androïd et Apple </strong> au meilleur coût. Elles seront facilement
                adaptables pour le développement d'une application Web (SaaS), pour <strong>rentabiliser au maximum </strong> vos investissements et les temps de conception. Sollicitez-nous pour tester vos besoins et tester votre marché. Nos choix permettent
                des prototypages <strong>rapides et rentables </strong> y compris sur les mobiles. </p>

            <img src="{{ article.image }}" alt="" />
        </div>


        <div class="box-wrapper">
            <div class="box">
                <img src="assets/svg/blue_icons/folder_blue_icon.svg" alt="">
                <h5>rentabiliser</h5>
            </div>
            <div class="box">
                <img src="assets/svg/blue_icons/leaf_blue_icon.svg" alt="">
                <h5>adapter</h5>
            </div>
            <div class="box">
                <img src="assets/svg/blue_icons/persons_blue_icon.svg" alt="">
                <h5>tester</h5>
            </div>
            <div class="box">
                <img src="assets/svg/blue_icons/tag_blue_icon.svg" alt="">
                <h5>publier</h5>
            </div>
        </div>


        <app-thumbnails-carousel></app-thumbnails-carousel>

    </article>
</section>



<app-questions></app-questions>