<div class="container" fxFlex fxLayout="row" fxLayoutAlign="space-between center" fxLayout.lt-md="column" fxLayoutAlign.xs="center center">

    <div class="corner-img">
        <img src="../../../assets/corners/green_blue.png" alt="" />
    </div>

    <div fxFlex class="context">
        <div fxFlex fxLayout="row" fxLayoutAlign="center space-around" fxLayoutAlign.xs="start start">
            <div fxFlex="70" fxLayout="column" fxLayoutAlign="center start" fxLayout="column" fxLayoutAlign.xs="start start" class="context-wrapper">
                <h1>
                    {{ title }} <br />
                    <strong>{{ titleBold }}</strong>
                </h1>
                <p>
                    {{ text }}
                </p>
            </div>

            <div fxFlex fxLayout="column" fxLayoutAlign="end end" class="corner">

            </div>
        </div>
    </div>


</div>