<footer>
    <article class="infos">

        <svg id="Calque_1" data-name="Calque 1" xmlns="http://www.w3.org/2000/svg" width="200" height="200" viewBox="0 0 1080 1080">
            <g>
              <path d="M463.28,714h14.86a9.84,9.84,0,0,0,9.9-9.8V660.17a9.86,9.86,0,0,0-9.9-9.81H398.92c0,35.17,28.81,63.68,64.36,63.68" style="fill: #fff"/>
              <path d="M223.66,543.84c-49.53-12.66-61.81-18.77-61.81-37.56v-.82c0-13.87,12.69-24.89,36.85-24.89,21.64,0,44,8.53,66.64,22.95a9.87,9.87,0,0,0,13.37-2.75l21.91-31.68a9.8,9.8,0,0,0-2.48-13.59c-27.56-19.57-60.54-30.44-98.63-30.44-58.53,0-100.3,34.28-100.3,86.12V512c0,56.74,37.26,72.65,95,87.35,47.88,12.25,57.71,20.4,57.71,36.32v.82c0,16.73-15.56,26.94-41.34,26.94-29.66,0-54.6-11-78.21-28.89a9.88,9.88,0,0,0-13.51,1.56L94,665.75a9.78,9.78,0,0,0,1.45,14c33.09,26.26,73.66,39.23,113.87,39.23,61.81,0,105.2-31.83,105.2-88.57v-.82c0-49.79-32.75-70.61-90.88-85.71" style="fill: #fff"/>
              <path d="M483.08,469.14H398.91V412.81A9.86,9.86,0,0,0,389,403H344.45a9.86,9.86,0,0,0-9.9,9.8V586.69c0,35.17,28.82,63.68,64.36,63.68V527.92h84.17a9.85,9.85,0,0,0,9.91-9.8V478.94a9.85,9.85,0,0,0-9.91-9.8" style="fill: #fff"/>
              <path d="M560.92,581.22c5.93-26.8,24.08-44.07,49.68-44.07,26,0,43.76,17.63,48.55,44.07Zm49.68-94.93c-66.08,0-112.25,52.54-112.25,116.32v.84c0,68.38,50.41,115.49,118.6,115.49,36.89,0,65.26-12.78,86-34.11a9.68,9.68,0,0,0-.67-14.06l-22.92-20a10,10,0,0,0-12.86-.2c-15.3,12.3-29.7,17.46-48.69,17.46-27.62,0-48.54-13.83-55.83-40.31H711.07a9.57,9.57,0,0,0,9.8-9c.16-3.48.28-7,.28-10.26v-.84c0-63.36-34.73-121.32-110.55-121.32" style="fill: #fff"/>
              <path d="M924.09,603.14c0,37.68-25.33,62-55.3,62s-54.87-24.71-54.87-62v-.84c0-37.27,24.9-62,54.87-62s55.3,24.71,55.3,62ZM885.25,486.29c-33.34,0-54.66,15.49-70.28,36.44V501a9.85,9.85,0,0,0-9.91-9.78H760.51A9.85,9.85,0,0,0,750.6,501V755.68a9.85,9.85,0,0,0,9.91,9.79h44.55a9.85,9.85,0,0,0,9.91-9.79v-70c15.19,18,36.1,33.51,70.28,33.51,53.62,0,103-41,103-116v-.84c0-75-50.23-116-103-116" style="fill: #fff"/>
            </g>
          </svg>

        <div class="socials">
            <a href="{{linkedin}}"><img class="social-icon" src="../../../assets/socials/linkedin.png" alt="{{linkedin}}" /></a>
            <a href="{{facebook}}"><img class="social-icon fb" src="../../../assets/socials/facebook.png" alt="{{facebook}}" /></a>
        </div>

    </article>

    <article class="cols">

        <div class="liens">
            <h4>Nos Métiers</h4>
            <a *ngFor="let lien of liensMetiers" [routerLink]="lien.link">{{lien.title}}</a>
        </div>

        <div class="liens">
            <h4>Nos Missions</h4>
            <a *ngFor="let lien of liensMissions" [routerLink]="lien.link">{{lien.title}}</a>
        </div>
        <div class="liens">
            <h4>Step</h4>
            <a *ngFor="let lien of liens" [routerLink]="lien.link">{{lien.title}}</a>

        </div>
    </article>

    <!-- STEP ACCORDION TO SHOW IN RESPONSIVE DISPLAY MODE -->

    <article class="accordion">

        <mat-accordion>

            <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                <mat-expansion-panel-header class="accordion-header">
                    <mat-panel-title>
                        <h4>Nos Métiers</h4>
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <div class="accordion-links">
                    <a *ngFor="let lien of liensMetiers" [routerLink]="lien.link">{{lien.title}}</a>
                </div>
            </mat-expansion-panel>

            <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                <mat-expansion-panel-header class="accordion-header">
                    <mat-panel-title>
                        <h4>Nos Missions</h4>
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <div class="accordion-links" fxLayout="column" fxLayoutAlign="center start" fxLayoutGap="10px">
                    <a *ngFor="let lien of liensMissions" [routerLink]="lien.link">{{lien.title}}</a>
                </div>
            </mat-expansion-panel>

            <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                <mat-expansion-panel-header class="accordion-header">
                    <mat-panel-title>
                        <h4>Step</h4>
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <div class="accordion-links" fxLayout="column" fxLayoutAlign="center start" fxLayoutGap="10px">
                    <a *ngFor="let lien of liens" [routerLink]="lien.link">{{lien.title}}</a>
                </div>
            </mat-expansion-panel>
        </mat-accordion>
    </article>
</footer>

<div fxLayout="column" fxLayoutAlign="center center" class="copyright">

    <h6>{{copyright}}</h6>
</div>