<footer>
    <article class="infos">

        <img class="logo" src="../../../assets/pictos/step_logo_blanc.png" alt="logo" />

        <div class="socials">
            <a href="{{twitter}}"><img class="social-icon" src="../../../assets/socials/twitter.png" alt="{{twitter}}" /></a>
            <a href="{{linkedin}}"><img class="social-icon" src="../../../assets/socials/linkedin.png" alt="{{linkedin}}" /></a>
            <a href="{{instagram}}"><img class="social-icon" src="../../../assets/socials/insta.png" alt="{{instagram}}" /></a>
            <a href="{{facebook}}"><img class="social-icon fb" src="../../../assets/socials/facebook.png" alt="{{facebook}}" /></a>
        </div>

    </article>

    <article class="cols">

        <div class="liens">
            <h4>Nos Métiers</h4>
            <a *ngFor="let lien of liensMetiers" [routerLink]="lien.link">{{lien.title}}</a>
        </div>

        <div class="liens">
            <h4>Nos Missions</h4>
            <a *ngFor="let lien of liensMissions" [routerLink]="lien.link">{{lien.title}}</a>
        </div>
        <div class="liens">
            <h4>Step</h4>
            <a *ngFor="let lien of liens" [routerLink]="lien.link">{{lien.title}}</a>

        </div>
    </article>

    <!-- STEP ACCORDION TO SHOW IN RESPONSIVE DISPLAY MODE -->

    <article class="accordion">

        <mat-accordion>

            <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                <mat-expansion-panel-header class="accordion-header">
                    <mat-panel-title>
                        <h4>Step Métiers</h4>
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <div class="accordion-links">
                    <a *ngFor="let lien of liensMetiers" [routerLink]="lien.link">{{lien.title}}</a>
                </div>
            </mat-expansion-panel>

            <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                <mat-expansion-panel-header class="accordion-header">
                    <mat-panel-title>
                        <h4>Step Groupe</h4>
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <div class="accordion-links" fxLayout="column" fxLayoutAlign="center start" fxLayoutGap="10px">
                    <a *ngFor="let lien of liensMissions" [routerLink]="lien.link">{{lien.title}}</a>
                </div>
            </mat-expansion-panel>

            <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                <mat-expansion-panel-header class="accordion-header">
                    <mat-panel-title>
                        <h4>STEP-SA</h4>
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <div class="accordion-links" fxLayout="column" fxLayoutAlign="center start" fxLayoutGap="10px">
                    <a *ngFor="let lien of liens" [routerLink]="lien.link">{{lien.title}}</a>
                </div>
            </mat-expansion-panel>
        </mat-accordion>
    </article>
</footer>

<div fxLayout="column" fxLayoutAlign="center center" class="copyright">

    <h6>{{copyright}}</h6>
</div>