<section>
    <article class="step-blue">
        <div class="context-wrapper-section">
            <h3>Une question?</h3>
            <h3>Un projet?</h3>
            <h3>N'hesitez à nous contacter</h3>

            <p>STEP, entreprise engagée du Sud-Ouest (Nouvelle Aquitaine, France)</p>

            <button [routerLink]="lien" target="_blank " class="step-question-button ">
                <mat-icon>comment</mat-icon>
                Envoyer nous votre message
            </button>
        </div>

        <div class="bg-question">
            <img src="../../../assets/corners/white_orange.png " alt="step">
        </div>
    </article>


</section>