<app-component-items-header [bgImg]="bgImg" [corner]="corner" [title]="title" [accroche]="accroche" [text]="text" [bgColor]="bgColor"></app-component-items-header>

<section>
    <h1>Valeurs</h1>
    <article>
        <div class="intro-txt">
            <p>
                Née de l'initiative d'acteurs de la société civile et de l'engagement de TOTAL, il y a 20 ans, STEP, <strong>entreprise responsable</strong> , n'a cessé de croire et de miser sur l'<strong>innovation</strong> pour durer et créer un modèle
                économique viable, offrant un panel de services toujours plus diversifié et de véritables <strong>parcours d’insertion </strong> à valeur ajoutée.
            </p>
            <p>
                Acteur économique de premier plan sur son domaine d’activité dans le grand Sud-Ouest, STEP s’appuie sur 20 années d’expertise en matière de gestion de flux documentaires et d’environnement informatique associé.
            </p>
            <p>
                <strong>Kenny Bertonazzi</strong>, directeur général de STEP depuis 2002, fortement investi dans la création de STEP avec le groupe b2s (Comdata France) dont il était le directeur palois, présente une croissance à deux chiffres de l’ordre
                de + 10% par an.
            </p>
            <p>Actuellement, STEP emploie <strong>40 collaborateurs </strong> à plein temps dont 16 personnes en <strong>parcours d’insertion </strong>et 60 apprenants suivent ses <strong>parcours de formation</strong>.
            </p>
        </div>
        <div class="photos">
            <img src="{{ img.valImg1 }}" title="{{ img.title }}" alt="{{ img.alt }}" />
        </div>
    </article>
</section>

<section>
    <article *ngFor="let item of content">
        <h2>{{ item.headTitle }}</h2>
        <p>{{ item.bodyText }}</p>
    </article>

    <div class="photos">
        <img src="{{ img.valImg2 }}" title="{{ img.title }}" alt="{{ img.alt }}" />
    </div>

    <article>
        <h2>{{ valeurs.mainTitle }}</h2>
        <p>{{ valeurs.phrase }}</p>

        <div *ngFor="let val of valeurs.vals" class="valeurs">
            <p>
                <span>{{ val.valTitre }} </span>{{ val.valText }}
            </p>
        </div>
    </article>
</section>

<app-questions></app-questions>