section {
    width: 80%;
    height: 600px;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-bottom: 5%;
    margin-top: 5%;
}

.bg {
    background-color: #00B0CC;
    width: 70%;
    left: 0;
    height: 100%;
    position: absolute;
    z-index: -999;
}

.artLeft {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.title-container {
    padding: 5% 10% 5% 10%;
}

.list-container {
    width: 100%;
    padding: 5%;
}

h2,
p,
li {
    color: white;
}

h2 {
    font-size: 2.5rem;
    margin: 0;
}

ul li button {
    display: flex;
    align-items: center;
    cursor: pointer;
    background-color: transparent;
    width: 100%;
    height: 40px;
    margin: 0;
    padding: 0;
    color: white;
    font-family: 'Rubik', sans-serif;
    font-weight: 600;
    font-size: 18px;
    border: none;
    border-radius: 0;
}

p {
    font-size: 1.2rem;
}

li {
    list-style: none;
    font-size: 1.2rem;
    padding-left: 5%;
    padding-left: 5%;
    margin: 0.8rem;
    cursor: pointer;
}

li:hover {
    background-color: #01A9C9;
    border-radius: 50px;
}

li:hover button mat-icon {
    background-color: #ffffff;
    color: #01A9C9;
    border-radius: 50%;
}

li button:focus mat-icon {
    background-color: #ffffff;
    color: #01A9C9;
    border-radius: 50%;
}


/* li:focus-within {
    background-color: #01A9C9;
    border-radius: 50px;
} */

mat-icon {
    margin-right: 15px;
}


/* CAROUSEL ARTICLE */

.container {
    margin: auto;
    width: 30%;
}

.slick-slider {
    width: 100%;
    object-fit: cover;
    border-radius: 18px;
    box-shadow: 25px 25px 0px #E8E7F3;
}

img {
    object-fit: cover;
    border-radius: 18px;
    filter: brightness(0.3);
    filter: contrast(70%);
}

.block {
    background-size: cover;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    z-index: 99;
}

.content {
    padding-left: 5%;
    padding-right: 5%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

h3,
h5 {
    color: white;
    margin: 0;
}

h3 {
    font-size: 20px;
    padding-bottom: 5%;
}

h5 {
    font-size: 0.9rem;
}

.btn-carousel {
    color: white;
    font-weight: 600;
    font-size: 18px;
    width: 60%;
    height: 50PX;
    padding: 2%;
    /* border: transparent solid 1px; */
    border-radius: 10px;
    margin-bottom: 20px;
    margin-top: 20px;
}

@media only screen and (max-width: 1440px) {
    .container {
        margin: auto;
        width: 40%;
    }
}

@media only screen and (max-width: 1024px) {
    .container {
        margin: auto;
        width: 40%;
    }
    .slide,
    .slick-list {
        height: 100%;
    }
    .block {
        width: 260px;
        height: 100%;
    }
    h3 {
        font-size: 1rem;
    }
    h5 {
        font-size: 0.8rem;
    }
}

@media only screen and (max-width: 768px) {
    section {
        height: 450px;
    }
    .container {
        margin: auto;
        width: 40%;
    }
    .slick-slider {
        box-shadow: 15px 10px 0px #E8E7F3;
    }
    .slide,
    .slick-list {
        height: 100%;
    }
    h2 {
        font-size: 1.5rem;
    }
    h3 {
        font-size: 1rem;
    }
    h5 {
        font-size: 0.8rem;
    }
    p {
        font-size: 0.9rem;
    }
    li {
        font-size: 1.2rem;
        margin: 0.1rem;
        padding: 5px 20px 5px 10px;
    }
    ul li button {
        width: 110%;
        height: 40px;
    }
}

@media only screen and (max-width: 425px) {
    section {
        width: 100%;
        height: 100%;
        display: flex;
        margin: auto;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #00B0CC;
    }
    .artLeft {
        width: 100%;
    }
    .bg {
        display: none;
        width: 100%;
    }
    ul {
        display: none;
    }
    .list-container {
        padding: 5%;
    }
    .container {
        margin: auto;
        width: 100%;
    }
    .slide,
    .slick-slider {
        width: 100%;
        height: 100%;
        background: none;
        box-shadow: none;
    }
    img {
        border-radius: 0px;
    }
    .block {
        width: 100%;
        top: auto;
        bottom: 0;
    }
    .content {
        margin-left: 15px;
        width: 100%;
    }
    h3 {
        font-size: 30px;
        margin-bottom: -1px !important;
    }
    h5 {
        font-size: 14px;
        font-weight: 500;
        margin-bottom: -0px !important;
    }
    .btn-carousel {
        color: white;
        font-weight: 600;
        font-size: 18px;
        width: 60%;
        height: 50PX;
        /* border: transparent solid 1px; */
        border-radius: 10px;
        margin-bottom: 30px;
        margin-top: 20px;
    }
}