<section>
    <article class="bg"></article>
    <article class="artLeft">
        <div class="title-container">
            <h2>Découvrez nos prestations</h2>
            <p>Consultez toutes nos prestations et nos solutions globales</p>

            <div class="swipe">
                <h4>swipez</h4>
                <div class="arrows">
                    <mat-icon>west</mat-icon>
                    <mat-icon>east</mat-icon>
                </div>
            </div>
        </div>

        <div class="list-container">
            <ul>
                <li *ngFor="let slide of this.prestationServ.prestationsDetails; let i = index">
                    <button (click)="slickModal.slickGoTo(i)">
                        <mat-icon>navigate_next</mat-icon>
                        {{slide.listTitle}}</button>
                </li>
            </ul>
        </div>
    </article>

    <article class="slider-img">
        <ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="slideConfig" (init)="slickInit($event)" (breakpoint)="breakpoint($event)" (afterChange)="afterChange($event)" (beforeChange)="beforeChange($event)">


            <div ngxSlickItem *ngFor="let slide of this.prestationServ.prestationsDetails; let i = index" class="slide">

                <img src="{{ slide.img }} " alt="" />

                <div class=" block ">

                    <div class="content ">

                        <h3>{{ slide.title }}</h3>
                        <h5>{{ slide.text }}</h5>

                        <a mat-button [routerLink]="slide.buttonLink " class="btn-carousel step-cyan ">voir plus</a>
                    </div>

                </div>

            </div>

        </ngx-slick-carousel>

    </article>
</section>