<section>

    <div class=" title">

        <h2>Ils nous font confiance</h2>
        <div class="arrows">
            <mat-icon>west</mat-icon>
            <mat-icon>east</mat-icon>
        </div>

    </div>


    <article>
        <ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="swiperConfig" (init)="slickInit($event)" (breakpoint)="breakpoint($event)" (afterChange)="afterChange($event)" (beforeChange)="beforeChange($event)">

            <div ngxSlickItem *ngFor="let client of clients" class="slide swipe">
                <img *ngIf="client.description" [src]="client.logo" [alt]="client.title">
            </div>
        </ngx-slick-carousel>
    </article>

</section>