section {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.metier-left {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.metier-left-txt {
    width: 100%;
}

.metier-left-txt h2 {
    width: 50%;
}

.metier-left-txt p {
    width: 90%;
}

.list-container {
    width: 70%;
}

h2 {
    font-size: 2.5rem;
    margin: 0;
}

ul {
    width: 100%;
    column-count: 2;
    column-gap: 1rem;
    vertical-align: top;
}

ul li {
    width: 100%;
}

ul li button {
    display: flex;
    align-items: center;
    cursor: pointer;
    background-color: transparent;
    width: 100%;
    height: 40px;
    margin: 0;
    padding: 0;
    font-family: 'Rubik', sans-serif;
    font-weight: 600;
    font-size: 18px;
    border: none;
    border-radius: 0;
}

ul li button:hover {
    color: #ffffff;
}

li {
    list-style: none;
    font-size: 1.2rem;
    margin-bottom: 0.8rem;
    cursor: pointer;
}

li:hover {
    background-color: #01A9C9;
    border-radius: 50px;
    padding-left: 5%;
}

li:focus {
    background-color: #01A9C9;
    border-radius: 50%;
    padding-left: 5%;
    margin: 0.8rem;
    cursor: pointer;
}

ul li button:focus {
    color: #ffffff;
    background-color: #01A9C9;
    border-radius: 50px;
    padding-left: 5%;
}

li:hover button mat-icon {
    background-color: #ffffff;
    color: #01A9C9;
    border-radius: 50%;
}

li button:focus mat-icon {
    background-color: #ffffff;
    color: #01A9C9;
    border-radius: 50%;
}


/* li:focus-within {
    background-color: #01A9C9;
    border-radius: 50px;
} */

mat-icon {
    margin-right: 15px;
}

.swipe {
    display: none;
}


/* // CAROUSEL  */

.slider-img {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 30%;
}

.carousel {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 18px;
    box-shadow: 25px 25px 0px #E8E7F3;
}

img {
    width: 100%;
    border-radius: 18px;
    filter: brightness(0.3);
    filter: contrast(70%);
}

.block {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    background-size: cover;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    z-index: 99;
    background-color: rgba(0, 0, 0, 0.301);
    border-radius: 18px;
}

.content {
    padding-left: 5%;
    padding-right: 5%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.content h3,
.content h5,
.content span {
    color: white !important;
    margin: 0;
}

.content span.mat-button-wrapper {
    color: white;
}

.content h3 {
    font-size: 20px;
    padding-bottom: 5%;
}

.content h5 {
    font-size: 0.9rem;
}

.content a {
    color: #ffffff !important;
    font-weight: 600;
    font-size: 18px;
    width: 60%;
    height: 50PX;
    padding: 2%;
    border-radius: 10px;
    margin-bottom: 20px;
    margin-top: 20px;
    background-color: #01A9C9;
}

@media only screen and (max-width: 1024px) {
    section {
        width: 90%;
    }
    .metier-left {
        width: 55%;
        margin-left: 50px;
    }
    .metier-left-txt {
        width: 100%;
    }
    .metier-left-txt h2 {
        width: 90%;
    }
    .list-container {
        width: 80%;
    }
    ul {
        width: 100%;
        column-count: 1;
        column-gap: 1rem;
        vertical-align: top;
    }
    .slider-img {
        width: 45%;
    }
    .slide,
    .slick-list {
        height: 100%;
    }
    img {
        height: 100%;
    }
    h3 {
        font-size: 1rem;
    }
    h5 {
        font-size: 0.8rem;
    }
}

@media only screen and (max-width: 768px) {
    section {
        width: 95%;
    }
    .metier-left {
        width: 40%;
        margin-left: 75px;
    }
    .metier-left-txt {
        width: 100%;
    }
    .metier-left-txt h2 {
        width: 90%;
    }
    .list-container {
        display: none;
    }
    .metier-left-txt h2 {
        width: 90%;
        font-size: 2rem;
    }
    ul {
        width: 100%;
        column-count: 1;
        column-gap: 1rem;
        vertical-align: top;
    }
    .swipe {
        display: block;
        margin-bottom: 1rem;
    }
    .slider-img {
        width: 40%;
    }
    .slide,
    .slick-list {
        height: 100%;
    }
    h3 {
        font-size: 1rem;
    }
    h5 {
        font-size: 0.8rem;
    }
}

@media only screen and (max-width: 425px) {
    section {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .metier-left {
        width: 90%;
        margin-left: 75px;
    }
    .metier-left-txt {
        width: 90%;
    }
    .metier-left-txt h2 {
        width: 90%;
    }
    .list-container {
        display: none;
    }
    .metier-left-txt h2 {
        width: 90%;
        font-size: 2rem;
    }
    .swipe {
        margin-bottom: 1rem;
    }
    .slider-img {
        width: 100%;
    }
    .slide,
    .slick-list {
        height: 100%;
    }
    .carousel {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 0px;
        box-shadow: none;
    }
    img {
        border-radius: 0px;
    }
    .block {
        border-radius: 0px;
    }
    .content {
        padding-left: 5%;
        padding-right: 5%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }
    h3 {
        font-size: 1rem;
    }
    h5 {
        font-size: 0.8rem;
    }
}