<section fxLayout.lt-md="column" fxLayoutAlign.lt-md="startcenter">
    <article class="metier-left" fxHide.xs="true">
        <div class="metier-left-txt">
            <h2 class="step-blue-color">Des solutions & métiers adaptés à tous vos besoins</h2>
            <p class="step-blue-color">STEP vous accompagne en vous proposant des solutions globales dans plusieurs grands secteurs d’activités. Les flux documentaires et le back office, les services de territoire et l’ingénierie informatique :</p>
        </div>
        <div class="swipe">
            <h4>swipez pour consulter nos métiers</h4>
            <div class="arrows">
                <mat-icon>west</mat-icon>
                <mat-icon>east</mat-icon>
            </div>
        </div>
        <div class="list-container">
            <ul>
                <li *ngFor="let slide of metierServ.metiersList; let i = index">
                    <button (click)="slickModal.slickGoTo(i)">
                        <mat-icon>navigate_next</mat-icon>
                        {{slide.title}}</button>
                </li>

            </ul>
        </div>
    </article>



    <!-- <app-metier-swiper style="margin-left: 30px;" class="slider-txt"></app-metier-swiper> -->

    <article class="slider-img">
        <ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="slideConfig" (init)="slickInit($event)" (breakpoint)="breakpoint($event)" (afterChange)="afterChange($event)" (beforeChange)="beforeChange($event)">


            <div ngxSlickItem *ngFor="let slide of metierServ.metiersList; let i = index" class="slide">

                <img src="{{ slide.img }} " alt="" />

                <div class=" block ">

                    <div class="content ">

                        <h3>{{ slide.title }}</h3>
                        <h5>{{ slide.text }}</h5>

                        <a mat-button [routerLink]="slide.link">voir plus</a>
                    </div>

                </div>

            </div>

        </ngx-slick-carousel>

    </article>
</section>