<section fxLayout="row" fxLayoutAlign="space-around center " fxLayout.xs="column " fxLayoutAlign.xs="start center ">

    <div fxLayout="column" fxLayoutAlign="center start" class="context step-blue">
        <div fxFlex="80" fxLayout="column " fxLayoutAlign="center start " fxLayout="column " fxLayoutAlign.xs="start start " class="context-wrapper context-wrapper-section">
            <h3>Une question?</h3>
            <h3>Un projet?</h3>
            <h3>N'hesitez à nous contacter</h3>

            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. </p>

            <button fxLayout="row" fxLayoutAlign="space-around center" href="https://www.step-sa.fr/ " target="_blank " class="step-question-button ">
                <mat-icon>comment</mat-icon>
                Envoyer nous votre message
            </button>

        </div>

    </div>

    <div class="step-blue bg-question " fxLayout="row " fxLayoutAlign="end end ">
        <img src="../../../assets/corners/white_orange.png " alt="step">
    </div>
</section>