<section>

    <article [ngStyle]="{'background': 'url(' + bg + ') no-repeat 0 0 / cover'}">
        <div class="content">
            <div class="content-wrapper">

                <h1>
                    {{title}}
                    <strong>  {{titleBold}}</strong>
                </h1>
                <p>
                    {{text}}
                </p>
            </div>
        </div>

        <div class="corner">
            <img [src]="cornerImg" alt="" />
        </div>

    </article>
</section>