section {
    width: 80%;
    margin: auto;
    margin-bottom: 2rem;
}

article {
    width: 100%;
    margin-top: 2rem;
}

h2,
span,
p {
    color: #140a82;
}

h1 {
    font-size: 2.2rem;
}

span {
    font-size: 1rem;
    font-weight: 800;
}

.partenaire__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.content-partenaire__description {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.content-partenaire__description .logo {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    width: 350px;
    height: 150px;
}

.content-partenaire__description .logo img {
    width: 70%;
}

.description {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 5%;
}

.description h2 {
    font-size: 1rem;
    text-align: center;
}


/* // 2nd article */

.wrapper {
    width: 100%;
    display: inline-flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    align-items: center
}

.partenaire {
    width: 25%;
    display: inline-flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.content-partenaire {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1rem;
}

.content-partenaire .logo {
    width: 200px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content-partenaire .logo img {
    width: 80%;
}

.description__txt {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.description__txt h2 {
    padding-left: 5%;
    padding-right: 5%;
    font-size: 1rem;
    text-align: center;
}

@media screen and (max-width: 768px) {
    .partenaire {
        width: 50%;
    }
}

@media screen and (max-width: 425px) {
    .partenaire {
        width: 100%;
    }
}