<app-component-items-header [bgImg]="bgImg" [corner]="corner" [title]="title" [accroche]="accroche" [text]="text" [bgColor]="bgColor"></app-component-items-header>

<section>
    <h1>Partenaires</h1>
    <article>
        <div class="intro-txt">
            <p>{{ intro.p1 }}</p>
        </div>
        <div class="partenaire" *ngFor="let partenaire of partenaires">
            <div class="content-partenaire">
                <div class="logo">
                    <img src="{{ partenaire.partLogo }}" title="{{ partenaire.title }}" alt="{{ partenaire.alt }}" />
                </div>

                <div class="description">
                    <h2>{{ partenaire.title }}</h2>
                    <p>{{ partenaire.description }}</p>
                </div>
            </div>
        </div>
    </article>
</section>