<app-component-items-header [bgImg]="bgImg" [corner]="corner" [title]="title" [accroche]="accroche" [text]="text" [bgColor]="bgColor"></app-component-items-header>

<section>
    <h1>Partenaires</h1>
    <article>
        <div class="intro-txt">
            <p>{{ intro_1.p }}</p>
        </div>
        <div class="partenaire__container" *ngFor="let client of clients">
            <div class="content-partenaire__description" *ngIf="client.description">
                <div class="logo">
                    <img src="{{ client.logo }}" title="{{ client.title }}" alt="{{ client.title }}" />
                </div>

                <div class="description">
                    <h2>{{ client.title }}</h2>
                    <p>{{ client.description }}</p>
                </div>
            </div>
        </div>
    </article>

    <article>
        <div class="intro-txt">
            <p>{{ intro_2.p }}</p>
        </div>
        <div class="wrapper">

            <div class="partenaire" *ngFor="let partenaire of partenaires">
                <div class="content-partenaire">
                    <div class="logo">
                        <img [src]="partenaire.src" [title]="partenaire.title " [alt]=" partenaire.alt" />
                    </div>

                    <div class="description__txt">
                        <h2>{{ partenaire.title }}</h2>
                    </div>
                </div>
            </div>
        </div>
    </article>
</section>