/* You can add global styles to this file, and also import other style files */

.light-theme {
    --body-color: #fff;
    --text-color: #140a82;
    --step-blue-main: #140a82;
    --step-white-color: #fff;
    --button-color: #fff;
    --special-style-blue: #140a82;
    --hover-color: #140a82;
    --shadow: rgba(0, 0, 0, 0.207);
}

.dark-theme {
    --body-color: #08043A;
    --text-color: #fff;
    --step-blue-main: #fff;
    --step-white-color: #140a82;
    --special-style-blue: #140a82;
    --hover-color: #cdcaee;
    --shadow: #140a82c2;
}

html,
body {
    background-color: var(--body-color);
    width: 100%;
    margin: auto;
    overflow-x: hidden;
    font-family: 'Rubik', sans-serif;
    scroll-behavior: smooth;
}

p {
    font-family: Arial, Helvetica, sans-serif;
    color: var(--text-color);
}

h1,
h2,
h3,
h4,
h5,
h6,
li,
button,
a,
blockquote,
.mat-toolbar,
.mat-card {
    font-family: 'Rubik', sans-serif;
    color: var(--text-color);
}

.arrows {
    stroke: var(--text-color);
}

.special-style-blue {
    color: var(--special-style-blue);
}

.success {
    background-color: #4caf50;
    color: white;
}

.info {
    background-color: #00b1cc;
    color: white;
}


/* Step Colors with backgounds  */

.step-blue {
    background-color: var(--body-color);
}

.step-green {
    background-color: #24a640;
}

.step-yellow {
    background-color: #ffcc40;
}

.step-cyan {
    background-color: #00b0cc;
}

.step-orange {
    background-color: #ff5e1a;
}

.step-white-color {
    color: var(--step-white-color);
}


/* Step Colors without backgounds  */

.step-blue-color {
    color: var(--text-color);
}

.step-green-color {
    color: #24a640;
}

.step-yellow-color {
    color: #ffcc40;
}

.step-cyan-color {
    color: #00b0cc;
}

.step-orange-color {
    color: #ff5e1a;
}