<app-component-items-header [bgImg]="bgImg" [corner]="corner" [title]="title" [accroche]="accroche" [text]="text"></app-component-items-header>





<section class="container">
    <article *ngFor="let article of articles">
        <app-block icon="{{ article.icon }}" titre="{{ article.titre }}" accroche="{{ article.accroche }}"></app-block>
        <div class="content">
            <p class="column">{{ article.column }}</p>
            <img src="{{ article.image }}" alt="" />
            <h3> Nos services et avantages:</h3>
            <ul>
                <li>Délai de distribution en J+1 garanti-Distribution sur présentation d'un justificatif d'identité.</li>

                <li>
                    Jusqu'à 55% d'économie sur l'envoi d'un recommandé.
                </li>
                <li>
                    Distribution de vos campagnes de communication.
                </li>
                <li>
                    Distribution de mailings adressés sur notre zone de distribution
                </li>
                <li>
                    Distribution toute boite de vos mailings non adressés-Distribution réalisée en J+4 ou J+7.
                </li>
                <li>
                    Avantages -De 5% à 42% d'économies réalisées sur votre budget postal.
                </li>
                <li>
                    Facturation mensuelle détaillée de votre consommation-Plus besoin d'affranchir et de peser votre courrier.
                </li>
            </ul>

            <p>
                Près de 100 000 courriers par an sont pris en charge par STEP depuis 2012 pour le compte d’une trentaine de clients. Parmi ceux-ci, on trouve la Caisse Primaire d’Assurance Maladie de Pau, Pau Béarn Habitat, le Greffe du Tribunal de Commerce, des notaires,
                lycées..., l’Elan Béarnais, Hélioparc, la Mairie de Pau… Des économies de 10 à 40 % réalisées selon les entreprises !
            </p>
        </div>
        <app-thumbnails-carousel></app-thumbnails-carousel>
    </article>
</section>

<app-questions></app-questions>
<app-partners [partenaires]="partenaires"></app-partners>