<app-component-items-header [bgImg]="bgImg" [corner]="corner" [title]="title" [accroche]="accroche" [text]="text"></app-component-items-header>

<section class="container">
    <article *ngFor="let article of articles">
        <app-block icon="{{ article.icon }}" titre="{{ article.titre }}" accroche="{{ article.accroche }}"></app-block>
        <div class="content">
            <p class="column">{{ article.column }}</p>
            <img src="{{ article.image }}" alt="" />
            <p>{{ article.text }}</p>
        </div>
    </article>
    <!-- <article>

        <div class="citation">

            <blockquote>
                &ldquo; Conscients des impacts environnementaux du numérique et du renouvellement accéléré des matériels informatiques, nous avons créé l’Atelier numérique qui propose des solutions de bon sens pour lutter contre la fracture numérique. Soit des prestations
                de maintenance et d’assistance informatique, mais également le reconditionnement et le recyclage de matériels informatiques offerts par des entreprises partenaires. &rdquo;

                <h6>Gérald Abbadie, responsable pôle formation & responsable technique Studio de Développement et Atelier Numérique</h6>
            </blockquote>
        </div>

        
    </article> -->
</section>

<app-prestations-carousel></app-prestations-carousel>

<app-questions></app-questions>