<section class="content" fxFlex fxLayout="column" fxLayoutAlign="center center">
    <div class="head" fxFlex fxLayout="row" fxLayoutAlign="start center">
        <img src="../../../assets/pictos/logo-blue.png" alt="">
        <h6 class="step-blue-color">C'est quoi?</h6>
    </div>
    <div class="content-div" fxLayout="row wrap" fxLayoutGap="grid">
        <div [fxFlex]="(100/gridColumns) + '%'" fxFlex.lt-md="100%" *ngFor="let card of cards">
            <mat-card class="mat-elevation-z0">
                <mat-card-content>
                    <mat-icon>
                        <span>{{card.icon}} </span>
                    </mat-icon>
                    <h3>{{card.title}}</h3>
                    <p>{{card.content}}</p>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</section>