<section>
    <!-- <article fxFlex fxLayout="column" fxLayoutAlign="center start" class=" title" fxLayoutGap="15px">

        <h2 class="step-blue-color">Nos Partenaires</h2>
        <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px" fxHide.xl="true" class="content-wrapper arrows">
            <mat-icon class="step-blue-color">west</mat-icon>
            <mat-icon class="step-blue-color">east</mat-icon>
        </div>

    </article> -->




    <article class="partner-swiper content-wrapper">
        <div class="carousel">
            <div *ngFor="let partner of partners" class="slide swipe">
                <a href="#" fxFlex fxLayoutAlign="center center">
                    <img src="{{ partner.src }}" alt="{{ partner.alt }}">
                </a>
            </div>
        </div>
    </article>

</section>