<section>

    <div class=" title">

        <h2>Nos Partenaires</h2>
        <div class="arrows">
            <mat-icon>west</mat-icon>
            <mat-icon>east</mat-icon>
        </div>

    </div>


    <article>
        <ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="swipperConfig" (init)="slickInit($event)" (breakpoint)="breakpoint($event)" (afterChange)="afterChange($event)" (beforeChange)="beforeChange($event)">

            <div ngxSlickItem *ngFor="let partner of partners" class="slide swipe">
                <a href="#">
                    <img src="{{ partner.src }}" alt="{{ partner.alt }}">
                </a>
            </div>
        </ngx-slick-carousel>
    </article>

</section>