<app-metier-details-header></app-metier-details-header>


<section class="container">
    <article *ngFor="let article of articles">


        <div class="content">
            <p class="column">{{ article.column }}</p>

            <img src="{{ article.image }}" alt="" />
        </div>


        <div>


            <h3>PRESTATIONS SUSPENDUES, SOLIDARITÉ EN BONUS !</h3>

            <p>
                Se poser la question du réemploi dans le domaine du numérique, c’est à la fois une question pratique et technique, c’est aussi une question éthique et politique sur les usages et l’usure et au-delà qui interroge notre capacité à donner une ou non une
                seconde chance aux choses et aux gens.
            </p>
        </div>


        <div class="box-wrapper">
            <div class="box">
                <img src="assets/svg/blue_icons/stack_blue_icon.svg" alt="">
                <h5>réemployer</h5>
            </div>
            <div class="box">
                <img src="assets/svg/blue_icons/eye_blue_icon.svg" alt="">
                <h5>interroge</h5>
            </div>
            <div class="box">
                <img src="assets/svg/blue_icons/leaf_blue_icon.svg" alt="">
                <h5>bénéficier</h5>
            </div>
            <div class="box">
                <img src="assets/svg/blue_icons/settings_blue_icon.svg" alt="">
                <h5>maintenir</h5>
            </div>
        </div>


        <div>

            <p>
                Inspirées du “caffè sospeso” ou café suspendu de tradition italienne, qui consiste à payer deux cafés au lieu d’un, pour offrir le second à une personne démunie ou dans le besoin, nos prestations suspendues sont construites sur le même modèle. Client
                ou entreprise volontaire offre une prestation de maintenance de son choix à une association qui pourra en bénéficier directement ou en faire bénéficier un ou plusieurs de ses membres.

            </p>

        </div>

        <app-thumbnails-carousel></app-thumbnails-carousel>
    </article>
</section>


<app-questions></app-questions>